:root{
    --side-links-bcc: #dbeafe;
}

.sidebar{
    position: sticky;
    left: 0;
    top: 0;
    display: flex;
    height: 100%;
    width: fit-content;
    flex-direction: column;
    justify-content: space-between;

    background-color: var(--dark-1);
    padding: 1.5rem;padding-top: 7rem;
    color: rgb(255, 255, 255);
}
.sidebar-div{
    display: flex;
    /* flex: 1 1 0%; */
    flex-direction: column;
    gap: 1.5rem;
}
.side-links{
    display: flex;
    gap: 1rem;
    align-items: center;
    padding: 1.5rem;
    border-radius: 10px;
    justify-content: start;
    background-color: var(--side-links-bcc);
    text-decoration: none;
    color: white;
    font-weight: 700;
    font-size: 12px;
}
.side-link-ac{
    background-color: var(--side-links-bcc);
}
@media not all and (min-width: 640px){
    .sidebar{
        display: none;
    }
}
@media (width >= 64rem) { 
    .sidebar {
        width: 264px;
    }
 }